@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!--Show image and have a home page-->
<h1>About Joel</h1>
<div>
    <p>Joel minored in Film Studies at BYU, contracts as a movie reviewer for ClearPlay, and does a weekly podcast about movies called Baconsale.</p>
</div>
<img src="~/img/JoelHiltonHeadshot.jpg" />